@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik&display=swap');

body {
    margin: 0;
    background-color: #303841;  
    height: 3000px;
    font-family: 'Rubik', sans-serif;
}